
.mainCont{
    height: 100vh;
    overflow: none;
    background-color: black;
}

.mainCont #vidCont{
    min-height: 97vh;
    width: 99%;
    border: none;
}
#TvToggle{
    background: red;
    height: 40px;
    border-radius:50% ;
    width: 40px;
    position: absolute;
    bottom: 20%;
    right: 3%;
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue
}
#TvToggle:hover{
    cursor: pointer;
    height: 50px;
    width: 50px;
    right: 2.5%;
    bottom: 19%;

}
.commmentsCont{
    width: 300px;
    max-width: 300px;
    height: 400px;
    max-height: 400px;
    border-radius: 15px;
    position: absolute;
    right: 2%;
    bottom: 15%;
    background-color: white;
    overflow: hidden;
}
.commmentsCont #commNav{
    border-left:3px solid rgb(53, 0, 228);
    display: flex;
    float: right;
    height: 95%;
    margin-top: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45px;
}

#fbutt,#sbutt{
    border: 2px solid grey;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

#fbutt:hover, #sbutt:hover{
    cursor: pointer;
}
#sbutt{
    margin-top: 10px;
}

#ActComments{
    width: 249px;
    padding-top: 10px;
    height:92%;
    border-radius: 15px;
}
#bigCommentBox{
    overflow: scroll;
    height: 93%;
    scroll-behavior: smooth;
    flex-direction: column-reverse;
    display: flex;
}
.readComm{
    min-height: 80px;
    width: 90%;
    margin-left: 4%;
    border-radius: 15px ;
    border: 2px solid grey;
    margin-top: 10px;
}
#enterText{
    height: 40px;
    border: 2px solid grey;
    border-radius:7px;
    background: white;
    width: 77%;
    left: 5px;
    font-size: 13px;
    bottom: 6px;
    resize: none;
    position: absolute;
    padding-left: 5px;
    margin-bottom: 0;
}

#AddButt{
    border: 2px solid grey;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    bottom: 20px;
    right: 2px;
    font-size:11px;
    border-radius:10px ;
    text-align: center;
    font-weight: bold;
}
#AddButt:hover{
cursor: pointer;
}